@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&display=swap');

$cyan: #0099e5;
$navbar-breakpoint: 769px;
$body-background-color: #f5f8fa; //#f2f6fa;
$body-family: "IBM Plex Sans";
$body-font-size: 0.875rem;
$body-line-height: 1.43;
$primary: #075aaa;

$dropdown-item-hover-background-color: #f5f8fa;

@import "../node_modules/bulma/bulma.sass";

html, body, #app {
  height: 100%;
}

#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}
.footer {
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
